In [1]:
import os
import numpy as np
import pandas as pd
from pathlib import Path
import alpaca_trade_api as tradeapi

In [2]:
#setting Alpaca API and secret keys
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [5]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [6]:
# Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [7]:
# Format current date as ISO format
today = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()

In [10]:
# Set the tickers
tickers = ["FB", "TSLA","GOOG","AAPL","BRK.B","AMZN", "MSFT", "JPM"]

#set the timeframe
timeframe ="1D"

In [11]:
stock_df = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
stock_df

                             AAPL                                    AMZN  \
                             open    high     low   close    volume  open
time
2020-07-14 00:00:00-04:00  379.36  389.02  375.51  388.21  37043531  3089

                                                            ...    MSFT  \
                              high   low    close   volume  ...    open
time                                                        ...
2020-07-14 00:00:00-04:00  3127.38  2950  3084.02  6842135  ...  206.13

                                                             TSLA              \
                             high     low   close    volume  open  high   low
time
2020-07-14 00:00:00-04:00  208.85  202.03  208.39  33022403  1556  1590  1431


                              close    volume
time
2020-07-14 00:00:00-04:00  1516.385  21744713

[1 rows x 40 columns]

In [15]:
# Format start and end dates as ISO format for one year period
start = pd.Timestamp("2020-08-21", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-07-06", tz="America/New_York").isoformat()

In [16]:
# Get closing prices for stocks chosen from the last year
df_portfolio_year = alpaca.get_barset(
    tickers,
    timeframe,
    start = start,
    end = end,
    limit = 1000
).df

# Display sample data
df_portfolio_year.head(10)

                               AAPL                                        \
                               open      high      low   close     volume
time
2020-08-21 00:00:00-04:00  477.0500  499.4720  477.000  497.40   79453112
2020-08-24 00:00:00-04:00  514.7900  515.1400  495.745  503.79   81260572
2020-08-25 00:00:00-04:00  498.7900  500.7172  492.210  499.31   49337045
2020-08-26 00:00:00-04:00  504.7165  507.9700  500.330  506.19   37949023
2020-08-27 00:00:00-04:00  508.5700  509.9400  495.330  500.04   36378278
2020-08-28 00:00:00-04:00  504.0500  505.7700  498.310  498.83   38207206
2020-08-31 00:00:00-04:00  127.5800  131.0000  126.000  128.85  199136542
2020-09-01 00:00:00-04:00  132.7600  134.8000  130.530  134.20  138233208
2020-09-02 00:00:00-04:00  137.5900  137.9800  127.000  131.22  184800962
2020-09-03 00:00:00-04:00  126.9100  128.8400  120.500  120.92  227958928

                              AMZN                                          \
                              open       high        low    close   volume
time
2020-08-21 00:00:00-04:00  3295.00  3314.3962  3275.3900  3284.59  3298563
2020-08-24 00:00:00-04:00  3310.15  3380.3150  3257.5608  3307.45  4293678
2020-08-25 00:00:00-04:00  3294.99  3357.4000  3267.0000  3346.05  3781529
2020-08-26 00:00:00-04:00  3351.11  3451.7388  3344.5674  3442.06  6420990
2020-08-27 00:00:00-04:00  3450.05  3453.0000  3378.0000  3400.70  3948873
2020-08-28 00:00:00-04:00  3423.00  3433.3699  3386.5000  3401.80  2555139
2020-08-31 00:00:00-04:00  3408.99  3495.0000  3405.0000  3441.91  3853016
2020-09-01 00:00:00-04:00  3489.58  3513.8700  3467.0000  3500.47  3176312
2020-09-02 00:00:00-04:00  3547.00  3552.2500  3486.6850  3529.34  3607645
2020-09-03 00:00:00-04:00  3485.00  3488.4100  3303.0000  3369.17  7553385

                           ...    MSFT                                         \
                           ...    open     high       low     close    volume
time                       ...
2020-08-21 00:00:00-04:00  ...  213.86  216.250  212.8500  213.0200  28938393
2020-08-24 00:00:00-04:00  ...  214.79  215.520  212.4300  213.7100  21225637
2020-08-25 00:00:00-04:00  ...  213.10  216.610  213.1000  216.4564  19095068
2020-08-26 00:00:00-04:00  ...  217.88  222.090  217.3600  221.1500  32650657
2020-08-27 00:00:00-04:00  ...  222.89  231.150  219.4000  226.5700  53708988
2020-08-28 00:00:00-04:00  ...  228.18  230.644  226.5800  228.9400  22496097
2020-08-31 00:00:00-04:00  ...  227.00  228.700  224.3100  225.0600  22743408
2020-09-01 00:00:00-04:00  ...  225.51  227.450  224.4300  227.3200  21619677
2020-09-02 00:00:00-04:00  ...  227.97  232.860  227.3500  231.4600  29757321
2020-09-03 00:00:00-04:00  ...  229.27  229.310  214.9602  217.3000  49536774

                               TSLA
                               open     high        low     close     volume
time
2020-08-21 00:00:00-04:00  2044.760  2095.49  2025.0500  2050.000   20572968
2020-08-24 00:00:00-04:00  2126.275  2129.00  1927.5200  2015.695   19295383
2020-08-25 00:00:00-04:00  1974.890  2027.95  1968.0000  2024.090   10051608
2020-08-26 00:00:00-04:00  2060.000  2166.00  2053.6292  2151.930   13768358
2020-08-27 00:00:00-04:00  2180.460  2295.60  2142.5000  2239.760   23059123
2020-08-28 00:00:00-04:00  2295.120  2318.49  2186.5200  2213.520   19360294
2020-08-31 00:00:00-04:00   444.610   500.14   440.1100   498.510  111197923
2020-09-01 00:00:00-04:00   502.140   502.49   470.5100   475.040   81257715
2020-09-02 00:00:00-04:00   478.990   479.04   405.1206   447.245   92367647
2020-09-03 00:00:00-04:00   407.230   431.80   402.0000   407.000   80478522

[10 rows x 40 columns]

In [17]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices 
df_closing_prices["FB"] = df_portfolio_year["FB"]["close"]
df_closing_prices["TSLA"] = df_portfolio_year["TSLA"]["close"]
df_closing_prices["BRK.B"] = df_portfolio_year["BRK.B"]["close"]
df_closing_prices["AMZN"] = df_portfolio_year["AMZN"]["close"]
df_closing_prices["MSFT"] = df_portfolio_year["MSFT"]["close"]
df_closing_prices["GOOG"] = df_portfolio_year["GOOG"]["close"]
df_closing_prices["AAPL"] = df_portfolio_year["AAPL"]["close"]
df_closing_prices["JPM"] = df_portfolio_year["JPM"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Display sample data
df_closing_prices.head(10)

,FB,TSLA,BRK.B,AMZN,MSFT,GOOG,AAPL,JPM
2020-08-21,267.0100,2050.000,207.43,3284.59,213.0200,1580.97,497.40,97.33
2020-08-24,271.4300,2015.695,212.61,3307.45,213.7100,1588.19,503.79,100.07
2020-08-25,280.8200,2024.090,213.35,3346.05,216.4564,1607.08,499.31,100.50
2020-08-26,303.9100,2151.930,214.67,3442.06,221.1500,1651.98,506.19,99.10
2020-08-27,293.1700,2239.760,216.89,3400.70,226.5700,1635.31,500.04,102.32
2020-08-28,293.6700,2213.520,218.55,3401.80,228.9400,1644.40,498.83,102.77
2020-08-31,293.0901,498.510,218.04,3441.91,225.0600,1632.03,128.85,100.13
2020-09-01,295.5000,475.040,218.54,3500.47,227.3200,1660.71,134.20,100.14
2020-09-02,302.5000,447.245,221.50,3529.34,231.4600,1728.29,131.22,101.60
2020-09-03,291.1200,407.000,218.05,3369.17,217.3000,1642.22,120.92,101.36

In [18]:
xrp_df = pd.read_csv(
    Path('Resources/coin_XRP.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

tether_df = pd.read_csv(
    Path('Resources/coin_Tether.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

stellar_df = pd.read_csv(
    Path('Resources/coin_Stellar.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

sol_df = pd.read_csv(
    Path('Resources/coin_Solana.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

dot_df = pd.read_csv(
    Path('Resources/coin_Polkadot.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

litecoin_df = pd.read_csv(
    Path('Resources/coin_Litecoin.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

eth_df = pd.read_csv(
    Path('Resources/coin_Ethereum.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

link_df = pd.read_csv(
    Path('Resources/coin_Chainlink.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

btc_df = pd.read_csv(
    Path('Resources/coin_Bitcoin (1).csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

bnb_df = pd.read_csv(
    Path('Resources/coin_BinanceCoin.csv'),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/coin_XRP.csv'

In [10]:
crypto_df = pd.concat((xrp_df, tether_df, stellar_df, sol_df, dot_df, litecoin_df, eth_df, link_df, btc_df, bnb_df), axis=0, join='inner')

crypto_df

,SNo,Name,Symbol,High,Low,Open,Close,Volume,Marketcap
Date,,,,,,,,,
2013-08-05 23:59:59,1,XRP,XRP,0.005980,0.005613,0.005875,0.005613,0.000000e+00,4.387916e+07
2013-08-06 23:59:59,2,XRP,XRP,0.005661,0.004629,0.005637,0.004680,0.000000e+00,3.659101e+07
2013-08-07 23:59:59,3,XRP,XRP,0.004682,0.004333,0.004669,0.004417,0.000000e+00,3.453412e+07
2013-08-08 23:59:59,4,XRP,XRP,0.004424,0.004175,0.004397,0.004254,0.000000e+00,3.325863e+07
2013-08-09 23:59:59,5,XRP,XRP,0.004367,0.004253,0.004257,0.004291,0.000000e+00,3.354750e+07
...,...,...,...,...,...,...,...,...,...
2021-07-02 23:59:59,1438,Binance Coin,BNB,290.621683,277.350302,287.754456,287.423094,1.133633e+09,4.410016e+10
2021-07-03 23:59:59,1439,Binance Coin,BNB,302.605867,283.434010,287.215592,298.237117,1.113777e+09,4.575938e+10
2021-07-04 23:59:59,1440,Binance Coin,BNB,314.713019,292.787370,298.113557,307.732096,1.387396e+09,4.721623e+10
2021-07-05 23:59:59,1441,Binance Coin,BNB,307.684855,293.523465,307.684855,302.377980,1.504870e+09,4.639473e+10
2021-07-06 23:59:59,1442,Binance Coin,BNB,321.520965,302.195584,302.195584,320.934802,2.203265e+09,4.924196e+10